.App {
    text-align: center;
    position: relative;
}

.navbar {
    text-align: center;
}

ul {
    float: right;
}

li {
    margin: 0;
    list-style-type: none;
    float: left;
}

.menuLink {
    color: black;
    text-decoration: none;
    display: block;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px;
    font-family: '돋움';
}

.submenu {
    display: none;
}

.submenu a {
    display: block;
    text-decoration: none;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 13px;
    font-family: '돋움';
    color: black;
}

.submenu a:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
    border-radius: 4px;
}

.menuhover:hover .submenu {
    display: block;
}

.menuLink:hover {
    color: white;
    background-color: navy;
    border: 1px solid navy;
    border-radius: 4px;
}

/* .menu_drop {
    color: black;
    text-decoration: none;
    display: none;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 16px;
    font-family: '돋움';
    background-color: white;
    text-align: center;
} */

/* .menu_drop:hover {
    background-color: pink;
    color: navy;
} */
