.App {
    text-align: center;
    position: relative;
    /* margin-top: 100px; */
}

.navbar {
    text-align: center;
}

ul {
    float: right;
}

li {
    margin: 0;
    list-style-type: none;
    float: left;
}

/* 제일 위에 있는 굵직한 메뉴들 */
.menuLink {
    color: black;
    text-decoration: none;
    display: block;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px;
    font-family: '돋움';
}

/* 굵직한 목록들에 마우스를 올리면 네이비색 배경 생성 */
.menuLink:hover {
    color: white;
    background-color: navy;
    border: 1px solid navy;
    border-radius: 4px;
}

/* 마우스 올리기 전에는 서브메뉴들 안보이게함 */
.submenu { 
    display: none;
}


/* display: none; 때문에 안 보이다가 마우스를 가져다 올리면 
display: block;이 되어서 목록들이 보임 */
.menuhover:hover .submenu {
    display: block;
}


/* 서브 메뉴들에 있는 링크들을 의미. a태그뿐만 아니라 link태그도 포함됨 */
.submenu a {
    display: block;
    text-decoration: none;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 13px;
    font-family: '돋움';
    color: black;
}

/* hover를 통해 서브메뉴들의 목록들이 아래로 나열된 다음
그 목록들에 위에 마우스를 올리면 테두리에 표시 */
.submenu a:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
    border-radius: 4px;
}






/* .menu_drop {
    color: black;
    text-decoration: none;
    display: none;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 16px;
    font-family: '돋움';
    background-color: white;
    text-align: center;
} */

/* .menu_drop:hover {
    background-color: pink;
    color: navy;
} */
